/* gnome-console, kgx */
.terminal-window.root headerbar button:not(.titlebutton),
.terminal-window.remote headerbar button:not(.titlebutton) {
  min-width: 16px;
  background: transparent;
  border: 1px solid transparent;
}

.terminal-window.root headerbar button:not(.titlebutton):hover,
.terminal-window.remote headerbar button:not(.titlebutton):hover,
.terminal-window.root headerbar button:not(.titlebutton):checked,
.terminal-window.remote headerbar button:not(.titlebutton):checked,
.terminal-window.root headerbar button.titlebutton,
.terminal-window.remote headerbar button.titlebutton {
  background: alpha(white, 0.12);
}

.terminal-window.root headerbar button:not(.titlebutton):active,
.terminal-window.remote headerbar button:not(.titlebutton):active,
.terminal-window.root headerbar button:not(.titlebutton):checked:hover,
.terminal-window.remote headerbar button:not(.titlebutton):checked:hover,
.terminal-window.root headerbar button.titlebutton:hover,
.terminal-window.remote headerbar button.titlebutton:hover {
  background: alpha(white, 0.18);
}

.terminal-window.root headerbar button.titlebutton:active,
.terminal-window.remote headerbar button.titlebutton:active {
  background: alpha(white, 0.3);
}

.csd.popup decoration {  
border-radius: 12px; 
box-shadow: 0 2px 2.4px -1px rgba(0, 0, 0, 0.2), 0 4px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}


menu, .menu, .context-menu { 
  margin: 4px; 
  padding: 6px 6px; 
}
    
.csd menu, .csd .menu, .csd .context-menu { 
  border: none; 
  border-radius: 12px; 
}
  
menu menuitem, .menu menuitem, .context-menu menuitem {
  margin: 0;
  border-radius: 6px;
  padding: 7px 6px;
}
    
menu separator {margin: 6px 0}

menubar menu, wxMenu   {
  padding: 6px;
  border-radius: 12px
}


